.Testimonials{
    padding-block: 6rem;

    .sectionWrapper{
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .sectionTitle{
            font-size: 4rem;
            font-weight: 800;
            line-height: 1em;

            span{
                color: #7e7e81;
            }
        }
        .testimonials-list{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 3rem;

            .list-Items{
                display: flex;
                flex-direction: Column;
                gap: 2rem;

                .clientImage{
                    flex: none;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        filter: grayscale(1);
                        transition: all 0.3s ease;
                    }
                }

                .ClientData{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: .25rem;

                    .ClientName{
                        font-size: 1.25rem;
                        font-weight: 700;
                    }

                    .ClientDesignation{
                        font-size: 1rem;
                        color: #7e7e81;
                    }
                }

                .TestimonialText{
                    font-size: 1rem;
                    line-height: 1.5em;
                    color: #4b4b4b;
                }

                &:hover{
                    .clientImage img{
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}