.caseStudies{
    padding-block: 6rem;

    .sectionWrapper{
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .sectionTitle{
            font-size: 4rem;
            font-weight: 800;
            line-height: 1em;

            span{
                color: #7e7e81;
            }
        }
        .caseStudy-grids{
            grid-column-gap: 2rem;
            grid-row-gap: 3.5rem;
            grid-template-rows: auto;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-columns: 1fr;
            display: grid;
            width: 100%;

            .cards{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                text-decoration: none;
                color: var(--background);

                .cardImage{
                    width: 100%;
                    aspect-ratio: 16/9;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 0.3s ease;
                    }
                }

                .cardDetails{
                    display: flex;
                    flex-direction: column;

                    .cardTitle{
                        font-size: 1.5rem;
                        font-weight: 700;
                        line-height: 1.2em;
                        color: var(--background);
                        transition: all 0.3s ease;
                    }

                    .cardDescription{
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 1.2em;
                        color: #7e7e81;
                    }
                }

                &:hover{
                    .cardImage img{
                        transform: scale(1.05);
                    }
                    .cardDetails .cardTitle{
                        color: var(--blueColor);
                    }
                }
            }
        }
    }
}