.videoSection{
        background-image: linear-gradient(#0000 26% 26.68%, #f0f0f0 75%, #f0f0f0b5);

        .sectionWrapper{
            display: flex;
            flex-direction: column;
            gap: 5rem;
            padding-block: 6rem;

            .videoBox{
                z-index: 10;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                display: inline-flex;
                position: relative;
                overflow: hidden;

                video{
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
            .statistics{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                gap: 4rem;
                flex-direction: column;

                .statsTitle{
                    font-size: 4rem;
                    font-weight: 800;
                    line-height: 1em;

                    span{
                        color: #7e7e81;
                    }
                }
                .statisticsCards{
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    gap: 6px;
                    width: 100%;

                    .statCard{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        gap: 9rem;
                        background: var(--foreground);
                        padding: 20px;
                        border-radius: 8px;

                        .label{
                            font-size: 12px;
                            line-height: 1em;
                            color: #7e7e81;
                        }

                        .statsData{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;

                            .statNumber{
                                font-size: 4rem;
                                font-weight: 700;
                            }

                            .statLabel{
                                font-size: 1.125rem;
                                font-weight: 600;
                                color: #7e7e81;
                            }
                        }

                        &:nth-child(1){
                            grid-area: 1 / 1 / 2 / 3;
                        }
                        &:nth-child(2){
                            grid-area: 1 / 3 / 2 / 5;
                        }
                        &:nth-child(3){
                            grid-area: 1 / 5 / 2 / 7;
                        }
                        &:nth-child(4){
                            grid-area: 2 / 1 / 3 / 4;
                        }
                        &:nth-child(5){
                            grid-area: 2 / 4 / 3 / 7;
                        }
                    }
                }
            }
        }
}